# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
.env
.env/

# Django
db.sqlite3
*.log
staticfiles/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários do Office (lock criado com o arquivo aberto)
~$*

# PostgreSQL (se estiver dentro do projeto)
pgsql/data/