asgiref==3.11.1
Django==5.2.14
# Django==6.0.5  # alternativa apenas se o ambiente for compativel
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.2
wheel==0.47.0
django-environ

# Producao
whitenoise==6.8.2
gunicorn==23.0.0

# Armazenamento de midia (imagens) na nuvem - Cloudinary
cloudinary
django-cloudinary-storage
